#**Handling Missing Data**

Kita akan menggunakan dataset titanic pada notebook ini.

In [ ]:
# Impor library yang akan digunakan
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# Ambil datasetnya
!wget https://cloudstorage.dadangnh.com/bahan-ajar/bootcamp/titanic.csv
data = pd.read_csv('titanic.csv')

In [ ]:
# Membaca bentuk dataset

In [ ]:
# Membaca tipe kolom

In [ ]:
# Mendiskripsikan dataset

In [ ]:
# Melihat sampel 5 baris teratas

## Mencari missing value

Dapat menggunakan fungsi berikut:

** info()**
* Memberi informasi total data
* Memberi informasi detail terkait tipe data, 'object' berarti string, tipe lainnya seperti int and float
* Juga memberi informasi terkait jumlah observasi atas data 'non-null' pada setiap kolom

** describe() **By default akan menampilkan tabel informasi dalam bentuk angka, yang terdiri dari:
* Statistik deskriptif
* jumlah data 'non-null' yang di observasi
* dengan parameter "include='all'" akan menampilkan seluruh kolom dan parameter "include=['O']" akan menyertakan object

**.isnull().sum()***
* akan menampilkan jumlah dari *missing value* dari setiap kolom

In [ ]:
# Menampilkan informasi dataset

In [ ]:
# Menampilkan informasi dataset dengan fungsi describe()

In [ ]:
# Menampilkan informasi dataset dengan fungsi describe() dan include object

In [ ]:
# Menampilkan informasi dataset dengan seluruh kolom

In [ ]:
# Menampilkan data jumlah missing value pada setiap kolom

Manakah yang memungkinkan untuk kita imputasi?

## Investigasi missing value pada kolom usia

Dataset Titanic pada umumnya digunakan untuk analisis prediksi. Pada dataset tersebut, terdapat relatif banyak data yang hilang pada kolom usia, apa yang perlu kita lakukan? Apakah kita hapus saja kolom tersebut, atau isi data kosong dengan data seperti ini:

usiaRataRata = np.mean(data.age)

data.age = data.age.fillna(usiaRataRata) 

### Diskusi:

* **Adakah yang salah dari metode diatas?**

* **Berapa rata-rata usia penumpang?**

* **Berapa rata-rata usia penumpang laki-laki, berapa rata-rata usia penumpang perempuan? Adakah yang dapat digali?**

In [ ]:
# Rata-rata usia seluruh penumpang

In [ ]:
# Rata-rata usia penumpang per jenis kelamin

In [ ]:
# Mari lihat lebih detail persebaran usia penumpang

In [ ]:
# Sebagian besar penumpang masih muda, diantara 20-30 tahun. Mari lihat nilai unik dari usia-nya

dapat dilihat bahwa nan juga masuk dalam perhitungan

### Diskusi:
*  berapa banyak nilai 'NaN' pada kolom usia?
*  berapa banyak usia  < 1?

In [ ]:
# Mari lihat data yang berisi nan pada kolom age

In [ ]:
# Data dengan usia penumpang < 1

In [ ]:

# 263 penumpang tidak memiliki data usia

### Mari lihat faktor lain yang dapat menjadi clue untuk usia penumpang, seperti nama?

### Diskusi:

* Dapatkah kita asumsikan bahwa 'Mrs' berarti wanita yang telah menikah (bukan anak-anak)?

* Bagaimana dengan 'Miss' atau 'Ms'?

In [ ]:
# Buat fungsi untuk meng-ekstrak title/gelar pada nama
# Pada dataset, nama ditulis dengan format seperti:
# Allison, Master. Hudson Trevor
# Sehingga kita perlu pisahkan ','
# kemudian pisahkan '.'

def ekstrak_nama(nama):
     return nama.split(',')[1].split('.')[0].strip()

In [ ]:
# Testing esktrak nama

# Cek nilai unik dari setiap title

In [ ]:
# Beberapa gelar mungkin terlihat asing, akan tetapi sebagian besar merupakan gelar standar, dapat dicek dengan menghitung jumlahnya

In [ ]:
# Cross check apakah jumlah sesuai

### Dari pemrosesan diatas, dapat diketahui bahwa seluruh penumpang memiliki title/ gelar.

Terdapat gelar 'Jonkheer' (dan Dona - Spanish?)

#### Bagaimana dengan gelar 'Master'? Bisakah diasumsikan sebagai anak-anak?

#### Dr, Rev, Col, Major, Capt, Sir, Don, apakah semuanya orang dewasa?

In [ ]:
# Buat duplikat dari dataset semula

In [ ]:
# Periksa bahwa data title tidak ada yang kosong

#### Lihat distribusi *missing value* dari kolom title

In [ ]:
# Cek jumlah data missing

In [ ]:
# Cek untuk title Dr

In [ ]:
# rata-rata usia Dr

In [ ]:
# Median

## Missing values: usia anak-anak

In [ ]:
# Seberapa banyak title master?

In [ ]:
# Terdapat 61 data, gunakan describe()

In [ ]:
# rata-rata usia anak anak

In [ ]:
# median usia anak anak

### Bahan diskusi

* Seberapa banyak anak anak tidak memiliki data usia?
* Apakah terdapat faktor lain yang dapat digunakan untuk imputasi data usia?

### Data Transformasi dan Proses Imputasi

In [ ]:
# Sebelum memulai proses imputasi, perlu disimpan data indicator bahwa data awal usia ada yang miss

In [ ]:
# Untuk transformasi, bisa dilakukan perubahan dari title yang jumlahnya minor menjadi bagian dari title berdasarkan gender laki-laki/ wanita yang umum
# df2.loc[df2.Title == 'Rev'] --> menjadi Mr 
# df2.loc[df2.Title == 'Col'] --> menjadi Mr
# df2.loc[df2.Title == 'Mlle'] --> menjadi Miss
# df2.loc[df2.Title == 'Dona'] --> menjadi Mrs
# df2.loc[df2.Title == 'Jonkheer'] --> menjadi Mr
# df2.loc[df2.Title == 'Mme'] --> menjadi Miss
# df2.loc[df2.Title == 'Don'] --> menjadi Mr
# df2.loc[df2.Title == 'the Countess'] --> menjadi Mrs
# df2.loc[df2.Title == 'Lady'] --> menjadi Mrs

In [ ]:
# Proses imputasi data yang hilang